@model IEnumerable<AllMenusModel>


@{
    ViewBag.Title = "All Menus";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<a class="btn btn-warning" asp-controller="Menu" asp-action="AllMenus"
   sp-route-information="" class="btn btn-success">All Menus of the Smoothie Shop</a>
<hr />

<div class="text-center row">
    @if (Model.Count()  > 0)
    {
        @foreach (var menu in Model)
        {
            <div class="card col-4" style="width: 20rem;">
                <div class="card-body">

                    <h5 class="card-title mt-1">@menu.MenuName</h5>
                    <h5 class="mb-0">Menu ID: @menu.MenuId</h5>
                    <p class="mb-0">Product User Id: @menu.ProductUserId</p>
                </div>               
            </div>
        }
    }
    else 
    {
        <p class="mb-0">There are no menus yet!</p>
    }
 
</div>