@{
    ViewData["Title"] = "Menu Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        This is the place for the all things connected to menus.
    </p>
    <p>
        Here you can find everything you need to manage menus.
    </p>
</div>

<a class="btn btn-warning" asp-controller="Home" asp-action="Index"
   sp-route-information="" class="btn btn-success">HOME</a>

<a class="btn btn-warning" asp-area="" asp-controller="Menu" asp-action="AllMenus"
   sp-route-information="" class="btn btn-success">All Menus</a>

<a class="btn btn-warning" asp-area="" asp-controller="Menu" asp-action="AddMenu"
   sp-route-information="" class="btn btn-success">Add Menu</a>