@model EditFeedbackModel 

@{
    ViewBag.Title = "Edit Feedback";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <input type="hidden" asp-for="@Model.FeedbackId" />
            <div class="form-group">
                <label asp-for="Rating">Feedback Rating</label>
                <input asp-for="Rating" min="1" max="10" class="form-control" placeholder="Rating...">
                <span asp-validation-for="Rating" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment">Feedback Comment</label>
                <textarea asp-for="Comment" rows="4" class="form-control" placeholder="Comment..."></textarea>
                <span asp-validation-for="Comment" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}