@{
    ViewData["Title"] = "Feedback Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        This is the place for the all things connected to feedbacks.
    </p>
    <p>
        Here you can find everything you need to manage feedbacks.
    </p>
    <p></p>
</div>