@{
    ViewData["Title"] = "Feedback Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        This is the place for the all things connected to feedbacks.
    </p>
    <p>
        Here you can find everything you need to manage feedbacks.
    </p>
</div>

<a class="btn btn-warning" asp-controller="Home" asp-action="Index"
   sp-route-information="" class="btn btn-success">HOME</a>

<a class="btn btn-warning" asp-area="" asp-controller="Feedback" asp-action="AllFeedbacks"
   sp-route-information="" class="btn btn-success">All Feedbacks</a>

<a class="btn btn-warning" asp-area="" asp-controller="Feedback" asp-action="AddFeedback"
   sp-route-information="" class="btn btn-success">Add Feedback</a>