@model ApplicationUserModel

@{
    ViewData["Title"] = "Index page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>@Model.UserName, We are very glad to see you back!</p>
</div>

