@{
    ViewData["Title"] = "Customer User Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        This is the place for the all things connected to customer users.
    </p>
    <p>
        Here you can find everything you need to manage customer users.
    </p>
</div>

<a class="btn btn-warning" asp-controller="Home" asp-action="Index"
   sp-route-information="" class="btn btn-success">HOME</a>

<a class="btn btn-warning" asp-area="" asp-controller="CustomerUser" asp-action="AllCustomerUsers"
   sp-route-information="" class="btn btn-success">All Customer Users</a>

<a class="btn btn-warning" asp-area="" asp-controller="CustomerUser" asp-action="AddCustomerUser"
   sp-route-information="" class="btn btn-success">Add Customer User</a>