@model DeleteCustomerModel 

@{
    ViewBag.Title = "Delete Customer";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-action="DeleteCustomer">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Customer First Name</label>
                <input asp-for="FirstName" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Customer Last Name</label>
                <input asp-for="LastName" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Customer Email</label>
                <input asp-for="Email" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Customer Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Customer Address</label>
                <input asp-for="Address" class="form-control" disabled="disabled" />
            </div>

            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>