@model EditCustomerModel 

@{
    ViewBag.Title = "Edit Customer";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <input type="hidden" asp-for="@Model.CustomerId" />
            <div class="form-group">
                <label asp-for="FirstName">Customer First Name</label>
                <input asp-for="FirstName" class="form-control" placeholder="First Name...">
                <span asp-validation-for="FirstName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName">Customer Last Name</label>
                <input asp-for="LastName" rows="4" class="form-control" placeholder="Last Name..."></input>
                <span asp-validation-for="LastName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Customer Email</label>
                <input asp-for="Email" rows="4" class="form-control" placeholder="Email..."></input>
                <span asp-validation-for="Email" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">Customer Phone Number</label>
                <input asp-for="PhoneNumber" rows="4" class="form-control" placeholder="Phone Number..."></input>
                <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address">Customer Address</label>
                <input asp-for="Address" rows="4" class="form-control" placeholder="Address..."></input>
                <span asp-validation-for="Address" class="small text-danger"></span>

            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}