@using SmoothieShop.Areas.Admin.Models
@model DeleteApplicationUserModel

<form asp-action="DeleteApplicationUser" method="post">
    <input asp-for="Id" type="hidden" />

    <p>Are you sure you want to delete user <strong>@Model.UserName</strong>?</p>
    <button type="submit" class="btn btn-danger">Delete Application ser</button>
</form>
