@model int

<h2 class="text-center">Product Users Count</h2>
<hr />

<a class="btn btn-warning" asp-area="Admin" asp-controller="Admin" asp-action="Index"
   sp-route-information="" class="btn btn-success">Home</a>
<hr />

<div class="text-center row">
    <div class="card col-4" style="width: 20rem; ">
        <div class="card-body">
            <h5 class="card-title mt-1">Count: @Model</h5>
        </div>
    </div>
</div>
