@{
    ViewData["Title"] = "Admin Index Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        This is the place for administration.
    </p>
    <p>
        Here you can access everything you need.
    </p>
</div>
