@{
    ViewData["Title"] = "Admin Index Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        This is the place for administration.
    </p>
    <p>
        Here you can access everything you need.
    </p>
</div>

<a class="btn btn-warning" asp-area="Admin" asp-controller="Admin" asp-action="Index"
   sp-route-information="" class="btn btn-success">Home</a>
<hr />

<a class="btn btn-warning" asp-area="Admin" asp-controller="Admin" asp-action="AllCounts"
   sp-route-information="" class="btn btn-success">All Counts</a>
<hr />