@{
    ViewData["Title"] = "Admin Index Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        This is the place for administration.
    </p>
    <p>
        Here you can access everything you need.
    </p>
</div>

<a class="btn btn-warning" asp-area="Admin" asp-controller="Admin" asp-action="AllApplicationUsersCount"
   sp-route-information="" class="btn btn-success">All Users Count</a>
<hr />

<a class="btn btn-warning" asp-area="Admin" asp-controller="Admin" asp-action="AllCustomersCount"
   sp-route-information="" class="btn btn-success">All Customers Count</a>
<hr />

<a class="btn btn-warning" asp-area="Admin" asp-controller="Admin" asp-action="AllCustomerUsersCount"
   sp-route-information="" class="btn btn-success">All Customer Users Count</a>
<hr />

<a class="btn btn-warning" asp-area="Admin" asp-controller="Admin" asp-action="AllFeedbacksCount"
   sp-route-information="" class="btn btn-success">All Feedbacks Count</a>
<hr />

<a class="btn btn-warning" asp-area="Admin" asp-controller="Admin" asp-action="AllIngredientsCount"
   sp-route-information="" class="btn btn-success">All Ingredients Count</a>
<hr />

<a class="btn btn-warning" asp-area="Admin" asp-controller="Admin" asp-action="AllMenusCount"
   sp-route-information="" class="btn btn-success">All Menus Count</a>
<hr />

<a class="btn btn-warning" asp-area="Admin" asp-controller="Admin" asp-action="AllOrdersCount"
   sp-route-information="" class="btn btn-success">All Orders Count</a>
<hr />

<a class="btn btn-warning" asp-area="Admin" asp-controller="Admin" asp-action="AllProductUsersCount"
   sp-route-information="" class="btn btn-success">All Product Users Count</a>
<hr />

<a class="btn btn-warning" asp-area="Admin" asp-controller="Admin" asp-action="AllSmoothiesCount"
   sp-route-information="" class="btn btn-success">All Smoothies Count</a>
<hr />