@{
    ViewData["Title"] = "Order Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        This is the place for the all things connected to orders.
    </p>
    <p>
        Here you can find everything you need to manage orders.
    </p>
</div>

<a class="btn btn-warning" asp-controller="Home" asp-action="Index"
   sp-route-information="" class="btn btn-success">HOME</a>

<a class="btn btn-warning" asp-area="" asp-controller="Order" asp-action="AllOrders"
   sp-route-information="" class="btn btn-success">All Orders</a>

<a class="btn btn-warning" asp-area="" asp-controller="Order" asp-action="AddOrder"
   sp-route-information="" class="btn btn-success">Add Order</a>