@model DeleteIngredientModel 

@{
    ViewBag.Title = "Delete Ingredient";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form asp-action="DeleteIngredient">
    <div class="row">
        <div class="col-md-8">
            <input type="hidden" asp-for="@Model.IngredientId" />
            <div class="form-group">
                <label asp-for="IngredientName" class="control-label">Ingredient Name</label>
                <input asp-for="IngredientName" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="IngredientInfo" class="control-label">Ingredient Information</label>
                <textarea asp-for="IngredientInfo" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <label asp-for="Calories" class="control-label">Ingredient Calories Per 100g</label>
                <input asp-for="Calories" class="form-control" disabled="disabled" />
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>