@model EditIngredientModel 

@{
    ViewBag.Title = "Edit Ingredient";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <input type="hidden" asp-for="@Model.IngredientId" />
            <div class="form-group">
                <label asp-for="IngredientName">Ingredient Name</label>
                <input asp-for="IngredientName" class="form-control" placeholder="Ingredient Name">
                <span asp-validation-for="IngredientName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IngredientInfo">Ingredient Information</label>
                <textarea asp-for="IngredientInfo" rows="4" class="form-control" placeholder="Ingredient Information"></textarea>
                <span asp-validation-for="IngredientInfo" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Calories" class="form-label">Ingredient Calories Per 100g</label>
                <input asp-for="@Model.Calories" class="form-control" aria-required="true" />
                <span asp-validation-for="Calories" class="text-danger"></span>

            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}