@{
    ViewData["Title"] = "Ingredient Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>
        This is the place for the all things connected to ingredients.
    </p>
    <p>
        Here you can find everything you need to manage ingredients.
    </p>
</div>

<a class="btn btn-warning" asp-controller="Home" asp-action="Index"
   sp-route-information="" class="btn btn-success">HOME</a>

<a class="btn btn-warning" asp-area="" asp-controller="Ingredient" asp-action="AllIngredients"
   sp-route-information="" class="btn btn-success">All Ingredients</a>