@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p>
        The Smoothie Shop makes the healthiest and most delicious smoothies. We use ingredients with 100% quantity in exactly the right proportions. We take care of the menu planning for big variety of smoothies with the best ingredients in them, so all you have to do is enjoy. We believe that everyone should have access to high-quality smoothies at an affordable price. We’re excited to bring our smoothies to you, and we hope that you’ll enjoy.
    </p>
    <p></p>
</div>
