@{
    ViewData["Title"] = "Contacts";
}

<div>
    <h1 class="display-4">Contact us</h1>
    <p>
        Email:
    </p>
    <p>
        Phone Number:
    </p>
    <p>
        Address: 
    </p>
</div>
