@{
    ViewData["Title"] = "FAQs";
}

<div>
    <h1 class="display-4">Questions & Answers!</h1>
    <div>
        <p>What is The Smoothie Shop?</p>
        <p>Online shop for the best smoothies.</p>
    </div>
    <div>
        <p>When is coming?</p>
        <p>Soon</p>
    </div>
</div>
