@{
    ViewData["Title"] = "The Smoothie Shop News";
}

<div>
    <h1 class="display-4">All the news about The Smoothie Shop!</h1>
    <p>
        12/27/2023 - The Smoothie Shop is coming Soon!
    </p>
</div>
